/* styles applied to page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header section */
header {
  background-color: rgba(46, 171, 226, 1);
  background-image: linear-gradient(
    360deg,
    rgba(46, 171, 226, 1) 50%,
    rgba(56, 63, 97, 1) 100%
  );
  color: #f9faf8;
  padding: 40px 0;
}

.wrapper {
  width: 70%;
  margin: auto;
}

.logo-and-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logo-name {
  color: rgb(240, 239, 253);
  font-family: "The Nautigal", cursive;
  font-size: 3.9rem;
}

.lower-header {
  display: flex;
  flex-wrap: wrap;
}

.left-side,
.right-side {
  flex: 1;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.left-side h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.left-side p {
  font-size: 1.3rem;
  line-height: 1.5;
}

.header-img {
  width: 100%;
  margin-left: 20px;
}

button {
  background-color: #3882f6;
  border: none;
  padding: 15px 50px;
  border-radius: 10px;
  font-size: 20px;
  color: #f9faf8;
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}
